@model Quotes

@{
    ViewBag.Title = "Удаление цитаты";
}

<h2>Удаление цитаты</h2>

<h3>Прежде чем сделать это - ПОДУМАЙ!</h3>
<div>
 <hr />
    <dl class="dl-horizontal">
        <dt>
            Цитата:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteText)
        </dd>

        <dt>
            Дата добавления:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            Автор цитаты:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfAuthor)
        </dd>

        <dt>
            Категория:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Вернуться", "Index", new { @type = "button" }, new { @class = "btn btn-warning" })
            <input type="submit" value="Delete" class="btn btn-danger"/> 
        </div>
    }
</div>
