@model Quotes

@{
    ViewBag.Title = "Информация о цитате";
}

<h2>Информация о цитате</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Цитата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteText)
        </dd>

        <dt>
           Дата добавления
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            Автор цитаты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfAuthor)
        </dd>

        <dt>
            Категория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.QuoteId }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
