@model Quotes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quotes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
